<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.wms.mapper.BrandMapper">
  <resultMap id="BaseResultMap" type="cn.wolfcode.wms.domain.Brand">
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="sn" property="sn" />
  </resultMap>
  <delete id="deleteByPrimaryKey">
    delete from brand
    where id = #{id}
  </delete>
  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into brand (name, sn)
    values (#{name}, #{sn})
  </insert>
  <update id="updateByPrimaryKey">
    update brand
    set name = #{name},
      sn = #{sn}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select id, name, sn
    from brand
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, sn
    from brand
  </select>
  <select id="selectForCount" resultType="int">
    select count(*) from brand
  </select>
  <select id="selectForList" resultMap="BaseResultMap">
    select id, name, sn from brand
    limit #{start}, #{pageSize}
  </select>
</mapper>